<!-- TO PUT HERE: form to submit recipes, properly formatted -->
<!-- Still to do: format the page -->
<html>
        <title>Submit a Recipe</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 { font-family: "Garamond", serif; }
.w3-row-padding img { margin-bottom: 12px }
/* Set the width of the sidebar to 120px */
.w3-sidebar { width: 120px; background: #222; }
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main { margin-left: 120px }
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) { #main {margin-left: 0} }
</style>

    <body class="w3-brown">
        <!-- Icon Bar (Sidebar - hidden on small screens) -->
	<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
		<!-- Avatar image in top left corner -->
		<img src="http://pngwebicons.com/uploads/anime/ico/anime_icon6547.ico" style="width:100%">
  <a href="/homepage" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="/homepage#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="/recipes" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-cutlery w3-xxlarge"></i>
    <p>RECIPES</p>
  </a>
  <!-- <a href="/index" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>INDEX</p>
  </a> -->
  <a href="/form" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>SUBMIT A RECIPE</p>
  </a>
</nav>
        <div class="w3-padding-large w3-content w3-text-black" id="main">
            <h2 class="w3-padding-16 w3-text-light-grey">Submit your recipe here:</h2>
            <hr style="width:200px" class="w3-opacity">
            <form action="/your_recipe" method="post">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Your Name" required name="user"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Recipe Name" required name="recipe_name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Url for Recipe Image" required name="img_url"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Url for Recipe Source" required name="source"></p>
      <p><textarea required name="ingredients" placeholder="Ingredients" class="w3-input w3-padding-16"></textarea>
          <!-- <input class="w3-input w3-padding-16" type="text" placeholder="Ingredients" required name="ingredients"> -->
        </p>
      <p><textarea required name="recipe_steps" placeholder="Recipe Steps" class="w3-input w3-padding-16"></textarea>
          <!-- <input class="w3-input w3-padding-16" type="text" placeholder="Recipe Steps" required name="recipe_steps"> -->
        </p>
      <p>
        <button class="w3-button w3-black w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i>  SUBMIT
        </button>
      </p>
    </form>
            <!-- <form method="post" action="/your_recipe">
            <ul>
                <li>
                    <div class="w3-section">
                    <label for="user">Your Name:</label>
                    <input type="text" name="user" value=""/>
                </li>
                <li>            
                    <label for="recipe_name">Recipe Name:</label>
                    <input type="text" name="recipe_name" value=""/>
                </li>
                <li>
                    <label for="img_url">Image Url for Recipe Photo:</label>
                    <input type="text" name="img_url" value=""/>
                </li>
                <li>
                    <label for="source">Source for Recipe (url):</label>
                    <input type="text" name="source" value="">
                </li>
                <li>                
                    <label for="ingredients">Ingredients:</label>
                    <textarea name="ingredients" rows="4" cols="50"></textarea>
                </li>
                <li>
                    <label for="recipe_steps">Recipe Steps:</label>
                    <textarea name="recipe_steps" rows="4" cols="50"></textarea>
                </li>
            </ul>
            <br><input type="submit" value="Submit"/>
        </form> -->
        </div>
    </body>
</html>