<!DOCTYPE html>
<html>

<head>
	<title>Welcome!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="w3-brown">


	<!-- Icon Bar (Sidebar - hidden on small screens) -->
	<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
		<!-- Avatar image in top left corner -->
		<img src="http://pngwebicons.com/uploads/anime/ico/anime_icon6547.ico" style="width:100%">
  <a href="/homepage" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="/homepage#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="/recipes" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-cutlery w3-xxlarge"></i>
    <p>RECIPES</p>
  </a>
  <!-- <a href="/index" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>INDEX</p>
  </a> -->
  <a href="/form" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>SUBMIT A RECIPE</p>
  </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    
    <h1>AniLab</h1>
    <img src="https://i.pinimg.com/originals/66/aa/af/66aaaf2094b546c6df7fe08fbab88b4e.png" alt="boy" class="w3-image">
  </header>



 <!-- About Section -->
  <div class="w3-content w3-justify w3-text-black w3-padding-64" id="about">
    <h2 class="w3-text-black">Yōkoso!</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Welcome to our fine established website of various set recipes from shows that fans of anime will recognize! 
    </p>

 <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-black">Our Photos</h2>
    <hr style="width:200px" class="w3-opacity">


    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="container w3-col">
        <img src="https://content.cooklybookly.com/196c0cf8-2fcc-11eb-bf2d-8ff12bcf032a/image/7ee4c784-da3d-11eb-aa25-c3d21b2165c2/7ee4c784-da3d-11eb-aa25-c3d21b2165c2.jpg" alt="food" class="image" style="width:100%">
        <div class="overlay">Egg Croquette</div>
      </div>

        <div class="container w3-col">
          <img src="https://i.ytimg.com/vi/N4By002MFVo/maxresdefault.jpg" alt="Avatar" class="image">
          <div class="overlay">Kofta Kabab Burger </div>
        </div>

        <div class="container w3-col">
          <img src="https://freeaddon.com/wp-content/uploads/2018/07/japanese-food-in-anime-12.jpg" alt="Avatar" class="image">
          <div class="overlay">Okonomiyaki</div>
        </div>
      </div>


        <img src="">
        <img src="" style="width:100%">
        <img src="" style="width:100%">
        
</div>
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>






   <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-black" id="contact">
    <h2 class="w3-text-black">Contact Us!</h2>
    <hr style="width:200px" class="w3-black">

    <div class="w3-section">
      <p><i class="fa fa-phone fa-fw w3-text-black w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope fa-fw w3-text-black w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
    </div><br>
    <p>Let's get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-black w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-black w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://fintechfocus.com/" target="_blank" class="w3-hover-text-black">FinTech Focus</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>