<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
        <script src="script.js"></script>
    </head>
    <body>
        <h1>Welcome to ANILAB!</h1>
        <h2>To go to our home page, click <a href='/homepage'>here</a>!</h2>
        <h3>Here are our current recipes: </h3>
            <div class="recipe-list">
                <ul>
                    {% for recipe in recipes %}
                        <li>
                            {{ recipe.recipe }} contributed by {{recipe.user}}<br> <img src = {{ recipe.img }} >
                            <br>Ingredients: <br> {{ recipe.ingredients }}
                            <br>Steps: <br> {{recipe.recipe_steps}}
                            <br>[<a href='/remove/{{recipe._id }}'>x</a>]
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <p>Put in some information about your recipe.</p>
        <form method="post" action="/your_recipe">
            <ul>
                <li>            
                    <label for="user">Your Name:</label>
                    <input type="text" name="user" value=""/>
                </li>
                <li>            
                    <label for="recipe_name">Recipe Name:</label>
                    <input type="text" name="recipe_name" value=""/>
                </li>
                <li>
                    <label for="img_url">Image Url for Recipe Photo:</label>
                    <input type="text" name="img_url" value=""/>
                </li>
            </ul>
            <br><input type="submit" value="Submit"/>
        </form>
        <ul>
            <li id = "ingredients">
                <label for="ingredients">Ingredients:</label>
                    <textarea name="ingredients" rows="4" cols="50">Put ingredients in this box.
                    </textarea>
                <!-- <button id="addMoreI" onclick="addMoreI()">Add more ingredients</button> -->
            </li>
            <li id = "steps">
                <label for="recipe_steps">Recipe Steps:</label>
                    <textarea name="recipe_steps" rows="4" cols="50">Put recipe steps in this box.
                    </textarea>
                <!-- <button id="addMoreR" onclick="addMoreR()">Add more steps</button> -->
            </li>
        </ul>
    </body>
</html>
