<!DOCTYPE html>
<html>
<title>Recipes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 { font-family: "Garamond", serif; }
.w3-row-padding img { margin-bottom: 12px }
/* Set the width of the sidebar to 120px */
.w3-sidebar { width: 120px; background: #222; }
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main { margin-left: 120px }
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) { #main {margin-left: 0} }
</style>
<body class="w3-brown">


<!-- Icon Bar (Sidebar - hidden on small screens) -->
	<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
		<!-- Avatar image in top left corner -->
		<img src="http://pngwebicons.com/uploads/anime/ico/anime_icon6547.ico" style="width:100%">
  <a href="/homepage" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="/homepage#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="/recipes" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-cutlery w3-xxlarge"></i>
    <p>RECIPES</p>
  </a>
  <!-- <a href="/index" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>INDEX</p>
  </a> -->
  <a href="/form" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>SUBMIT A RECIPE</p>
  </a>
</nav>
<div class="w3-padding-large" id="main">
<div class="w3-col w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center">
          <li class="w3-black w3-xlarge w3-padding-32">{{recipe.recipe}}</li>
          <li class="w3-padding-16">
            <img src= {{recipe.img}} style="object-fit:contain;width:100%">
          </li>
          <li class="w3-padding-16">Ingredients: {{recipe.ingredients}}<br>Steps: {{recipe.recipe_steps}}<br>Submitted by {{recipe.user}}
        <br>
        <!-- TO PUT HERE: button with a link to the recipe source... something like
        "Click here to go to recipe source" href={{recipe.source}} -->
            </li>
        </ul>
      </div>
</div>
</body>
</html>